h1 { 
    text-align: center;
    margin-top: 10% !important;
}

.playlistButton { margin-top: 15% !important; }

body {
    background-image: url('../img/luke-chesser-pJadQetzTkI-unsplash.jpg');
    font-family: 'Nanum Gothic', sans-serif !important;
    color: white !important;
}

.appleImportButton, .spotifyImportButton {
    color: white !important;
    border-color: white !important;
}

.appleImportButton:hover, .spotifyImportButton:hover {
    color: rgba(0, 0, 0, 0.5) !important;
    background-color: white;
}

#appleSearchForm { margin-top: 20%; }

.applePlaylistSearch{ display: flex; }

#appleSearch{ margin-right: 1%; }

a { 
    color: inherit !important;
    text-decoration: none !important 
} 